#MainFront { 
  position: relative; 
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/img/main-bg.jpg');
  background-size: cover;
}

#MainFront::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.8);
}

#MainFront h1 {
  position: relative;
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 60px;
  color: #3c4650;
}

#MainFront p {
  position: relative;
  color: #3c4650;
  margin: 15px 0 0 0;
  font-size: 30px;
  font-family: "Poppins", "Sans-Serif";
}

#MainFront p span {
  color: #0761b4;
  letter-spacing: 1px;
}

@media (max-width: 960px) {

  #MainFront {
    text-align: center;
  }

  #MainFront h1 {
    font-size: 32px;
    line-height: 36px;
  }

  #MainFront p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }

}